/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Change some params to test data

params {
    // Test data base path
    pipelines_testdata_base_path = "https://github.com/nf-cmgg/test-datasets/"

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21_and_chrX_subset.fna'
    fai = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21_and_chrX_subset.fna.fai'

    // Parameters
    roi      = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/refs/heads/main/data/genomics/homo_sapiens/genome/exomedepth/Homo_sapiens.GRCh38.105.protein_coding_basic_sorted_merged_chr.bed"
    exomedepth = true


    // VEP options
    annotate            = false
    vep_cache           = "${projectDir}/assets" //Use an existing dir so the stub tests pass
    vep_assembly        = "GRCh38"
    vep_cache_version   = 105
    species             = "homo_sapiens"

    // Module tests input data
    counts1 = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/exomecnv/data/genomics/homo_sapiens/illumina/counts/Sample1_autosomal.txt"
    counts2 = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/exomecnv/data/genomics/homo_sapiens/illumina/counts/Sample2_autosomal.txt"
    bedcovcounts = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/exomecnv/data/genomics/homo_sapiens/illumina/counts/Sample1.autosomal_samtoolsbedcov.tsv"
    merged_counts = "https://github.com/nf-cmgg/test-datasets/raw/refs/heads/exomecnv/data/genomics/homo_sapiens/illumina/counts/PoolM_autosomal.txt"

    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus  : 2,
        memory: 6.GB,
        time  : 6.h
    ]
}
