/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Input data
    input  = "${baseDir}/tests/inputs/samplesheet.csv"

    // Genome references
    genomes_ignore  = true
    igenomes_ignore = true
    genome          = 'GRCh38'

}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus  : 2,
        memory: 6.GB,
        time  : 6.h
    ]
}
