/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/exomecnv -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // input  = "${projectDir}/assets/samplesheet_bam.csv"
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    // vep_fasta = "/home/bertg/vep/hg38.fa"
    fasta = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21_and_chrX_subset.fna'
    fai = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21_and_chrX_subset.fna.fai'

    // Parameters
    roi_auto = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/roi/Homo_sapiens.GRCh38.105.chr21_protein_coding_basic_sorted_merged_autosomal.bed"
    roi_chrx = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/exomecnv/data/genomics/homo_sapiens/genome/roi/Homo_sapiens.GRCh38.105.chrX_protein_coding_basic_sorted_merged.bed"

    yamlconfig = "${projectDir}/assets/exomedepth.yaml"
    exomedepth = true
    igenomes_ignore = true
    genomes_ignore = true

    // VEP options
    annotate            = false
    vep_cache           = "path" //Change to correct path
    vep_assembly        = "GRCh38"
    vep_cache_version   = 105
    species             = "homo_sapiens"

}

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus  : 2,
        memory: 6.GB,
        time  : 6.h
    ]
}
