/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-cmgg/exomecnv -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = "${projectDir}/assets/samplesheet.csv"

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/main/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna'
    fai = 'https://raw.githubusercontent.com/nf-cmgg/test-datasets/main/data/genomics/homo_sapiens/genome/seq/GCA_000001405.15_GRCh38_full_plus_hs38d1_analysis_set_chr21.fna.fai'

    // Parameters
    roi_auto = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/main/data/genomics/homo_sapiens/genome/exomedepth/Homo_sapiens.GRCh38.105.chr21_protein_coding_basic_sorted_merged_autosomal.bed"
    // roi_auto = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/main/data/genomics/homo_sapiens/genome/exomedepth/Homo_sapiens.GRCh38.105.chr_protein_coding_basic_sorted_merged_autosomal.bed"
    roi_chrx = "https://raw.githubusercontent.com/nf-cmgg/test-datasets/main/data/genomics/homo_sapiens/genome/exomedepth/Homo_sapiens.GRCh38.105.chrX_protein_coding_basic_sorted_merged.bed"

}
